<body style="background-color:#fafbfc;">
<div class="container" style="background-color:#FFFFFF;margin-top:160px;margin-bottom:150px;box-shadow: 0 3px 9px 0 rgba(0,0,0,0.1);
">
  <div class="row" style="margin-top:30px">
    <div class="col-md-12 col-sm-10 col-xs-12">
      <div class="text-center">
        <h3 style="font-size:40px;">Demande de devis</h3>
      </div>
    </div>
    <br>
      <%= form_for @estimate do |f| %>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="text-center">
          <h3>Informations sur vote demande</h3>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <label>Indiquez toutes les informations complémentaires importantes <em style="color:red;">*</em></label>
            <%= f.text_area :desc ,  rows:"6",class: "form-control", placeholder: "Pour obtenir un devis plus précis,merci d'indiquer le plus d'informations possible." %>
            <h6><em style="color:red;">Informations obligatoires</em></h6>
        </div>

        <!--<div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Ville des travaux</label>
            <%= f.text_field :cityworks, class: "form-control", placeholder: "Code postal" %>
          <!--<%= f.select :cityworks, options_for_select([["Select One", ""], "Cell", "Work", "Office", "Home", "Other"]),{},class: "form-control", placeholder: "" %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Type de bâtiment</label>
          <%= f.select :categoryhouse , options_for_select([ "Maison individuelle", "Appartement", "Bâtiment", "Autres"]),{}, class: "form-control", placeholder: "Type de bâtiment" %>
        </div>-->

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Domaines de travaux</label>
          <%= f.select :category , options_for_select([ "Rénovation","Plomberie", "Electroménager", "Bricolage"]),{}, class: "form-control", placeholder: "Quels domaine de trvaux" %>
        </div> <br>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Délai des vos travaux</label>
            <%= f.select :categoryhouse , options_for_select([ "Au plus vite", "Dans un 1 mois", "Dans un 2 mois", "Dans un 3 mois"]),{}, class: "form-control", placeholder: "Type de bâtiment" %>
        </div>

      </div>

      <div class="col-md-6 col-sm-12 col-xs-12" >
        <div class="text-center">
          <h3>Informations personnelles</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Votre prénom</label>
          <%= f.text_field :firstname, class: "form-control", placeholder: "Dimitri" %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Votre nom</label>
          <%= f.text_field :lastname, class: "form-control", placeholder: "Payet" %>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Vous êtes</label>
            <%= f.select :who , options_for_select([ "Propriétaire occupant", "Propriétaire bailleur", "Futur propriétaire", "Locataire", "Futur locataire", "Administrateur", "Autres"]),{}, class: "form-control", placeholder: "Type de bâtiment" %>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Votre email</label>
          <%= f.text_field :email, class: "form-control", placeholder: "Payet" %>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:30px;">
            <label>Votre téléphone</label>
          <%= f.text_field :phone, class: "form-control", placeholder: "Payet" %>
        </div>

      </div>

        <div class="col-md-12 col-sm-6 col-xs-12" style="margin-bottom:30px;">
          <div class="text-center" >
            <%= f.submit "J'enregistre mon devis", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
</body>
