<div class="container" style="margin-top:140px;">
  <div class="row">
    <div class="text-center">
      <h3>Bonjour <%= @user.first_name.capitalize %> ! <br> Djingaa te souhaitons une bonne journée</h3>
    </div>
    <br><br>
      <div class="col-md-3">
          <div class="panel panel-default">
          <div class="panel-heading">Qui suis-je</div>
            <div class="panel-body">
              <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h4>
              <h4><%= @user.address %></h4>
              <h4><%= @user.phone %></h4>

              <br>
            </div>
            <div class="panel-heading"><%= link_to 'Modifier mon profil', edit_user_registration_path %></div>

          </div>
      </div>
      </div>
   </div>
</div>
