<!--footer starts from here-->
<footer class="footer">
	<div class="container bottom_border">
	 <div class="row">
		<div class=" col-sm-3 col-md col-sm-3  col-12 col">
		<h5 class="headin5_amrc col_white_amrc pt2">Djingaa</h5>
		<!--headin5_amrc-->
		<p class="mb10">Dingaa est une place de marché pour bricoleurs et professionnels du bâtiment
			 qui les mettent en relation avec des particuliers et des entreprise à l'île de la reunion. </p>
		<!--<p><i class="fa fa-location-arrow"></i> 47 rue François de Mahy 97410 Saint-Pierre </p>-->
		<p><i class="fa fa-phone"></i>  06 92 15 99 93  </p>
		<p><i class="fa fa fa-envelope"></i> contact@djingaa.re  </p>
		</div>

		<div class="  col-sm-3 col-md col-sm-3  col-12 col">
		<h5 class="headin5_amrc col_white_amrc pt2">NOS SERVICES</h5>
		<!--headin5_amrc-->
		<ul class="footer_ul_amrc">
		<li><%= link_to "Devenir bricoleur" , inscriptionbricoleurs_path, :class => "about" %></li>
		<!--<li><%= link_to "Faire un devis pour travaux" , new_estimate_path, :class => "about" %></li>
		<li><%= link_to "Nos services", services_path, :class => "about" %></li>-->
		<li><%= link_to "Plomberie", formulaireplomberie_path, :class => "about"%></li>
		<li><%= link_to "Bricolage et rénovation", formulairebrico_path, :class => "about"%></li>
		<li><%= link_to "Electroménager", formulaireelectromenager_path, :class => "about"%></li>
		</ul>
		<!--footer_ul_amrc ends here-->
		</div>

		<div class="  col-sm-3 col-md col-sm-3  col-12 col">
		<h5 class="headin5_amrc col_white_amrc pt2">resources</h5>
		<!--headin5_amrc-->
		<ul class="footer_ul_amrc">
			<li><%= link_to "Mode d'emploi", mode_emploi_path	, :class => "about" %></li>
		<li><%= link_to "FAQ", faq_path, :class => "about" %></li>
		<li><%= link_to "Conditions de vente", conditiondeventes_path, :class => "about" %></li>

		</ul>
		<!--footer_ul_amrc ends here-->
		</div>

		<!<div class="  col-sm-3 col-md col-sm-3  col-12 col">
			<h5 class="headin5_amrc col_white_amrc pt2">Djingaa</h5>
			<!--headin5_amrc ends here-->

			<ul class="footer_ul_amrc">
				<li><%= link_to "A propos de nous", about_path, :class => "about" %></li>

			</ul>
		<!--footer_ul2_amrc ends here-->
		</div>-->
	</div>
 </div>

 <div class="container">
	<ul class="foote_bottom_ul_amrc">
		<li><%= link_to "Accueil", root_path, :class => "about" %></li>
		<li><%= link_to "a propos de nous", about_path, :class => "about" %></li>

		<li><a href="https://www.djingaa.re/services?">Services</a></li>
		<!--<li><a href="http://webenlance.com">Pricing</a></li>
		<li><a href="http://webenlance.com">Blog</a></li>
		<li><a href="http://webenlance.com">Contact</a></li>-->
	</ul>
	<!--foote_bottom_ul_amrc ends here-->
	<p class="text-center">Copyright @2019 | Codé avec <a href="https://twitter.com/jrkinouani"  class="by" target="_blank"> <i class="fa fa-heart" aria-hidden="true" id="icon_footer"></i> par jrkinouani - l'île de la reunion</a>



	<!--<ul class="social_footer_ul">
		<li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
		<li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
		<li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
		<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
	</ul>-->
	<!--social_footer_ul ends here-->
 </div>

</footer>
