<!DOCTYPE html>
<html>
  <head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="Dingaa est une place de marché pour bricoleurs, professionels et particuliers sur l'île de La Réunion">
   <meta name="keywords" content="bricolage,électroménager, rénovation, électricité,La Réunion, services " />
   <meta name="author" content="">
    <title>Djingaa</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
     integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Static navbar -->

     <nav class="navbar navbar-default navbar-fixed-top">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
            <!--<%= link_to "Djingaa", root_path, :class => "navbar-brand" %> <em></em><img src="/reunion.png" alt="drapeau reunion" class="drapeau">-->
            <%= link_to (image_tag("/logo.png",class: 'imglogo')), root_path %> <em style="color:#F62A00">Beta</em>

         </div>

         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
             <li><%= link_to "Accueil", root_path, :class => "link_about"%></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonjour <%= current_user.first_name.capitalize %> !<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Se déconnecter", destroy_user_session_path, :class => "link_about" , method: :delete %></li>
                <li><%= link_to 'Voir mon profil', user_path(current_user.id) %></li>
                <li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
              </ul>
            </li>
               <li><%= link_to "Inscription professionnels", inscriptions_path,  :class => "link_pro"%></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos services <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Rénovation", new_estimate_path, :class => "link_about"%></li>
                  <li><%= link_to "Plomberie", formulaireplomberie_path, :class => "link_about"%></li>
                  <li><%= link_to "Bricolage ", formulairebrico_path, :class => "link_about"%></li>
                  <li><%= link_to "Electroménager", formulaireelectromenager_path, :class => "link_about"%></li>
                </ul>
              </li>

                 <!--<li><%= link_to "Solutions pour entreprises", solutionsentreprises_path, :class => "link_about" %></li>-->
                  <li><%= link_to "Mode d'emploi", mode_emploi_path, :class => "link_about" %></li>
                  <li><%= link_to "FAQ", faq_path, :class => "link_about" %></li>

                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recrutement <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Bricoleur",inscriptions_path, :class => "link_about"%></li>
                      <li><%= link_to "Professionnel", inscriptions_path, :class => "link_about"%></li>
                    </ul>
                  </li>
             <% else %>
             <li><%= link_to "Accueil", root_path, :class => "link_about"%></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Se connecter <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Se connecter",  new_user_session_path, :class => "link_about"  %></li>
                <li><%= link_to 'Inscription', new_user_registration_path %></li>
              </ul>
            </li>
             <li><%= link_to "Inscription professionnels", inscriptions_path,  :class => "link_pro"%></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Rénovation", new_estimate_path, :class => "link_about"%></li>
                <li><%= link_to "Plomberie", formulaireplomberie_path, :class => "link_about"%></li>
                <li><%= link_to "Bricolage ", formulairebrico_path, :class => "link_about"%></li>
                <li><%= link_to "Electroménager", formulaireelectromenager_path, :class => "link_about"%></li>
              </ul>
            </li>

               <!--<li><%= link_to "Solutions pour entreprises", solutionsentreprises_path, :class => "link_about" %></li>-->
                <li><%= link_to "Mode d'emploi", mode_emploi_path, :class => "link_about" %></li>
                <li><%= link_to "FAQ", faq_path, :class => "link_about" %></li>

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recrutement <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Bricoleur",inscriptions_path, :class => "link_about"%></li>
                    <li><%= link_to "Professionnel", inscriptions_path, :class => "link_about"%></li>
                  </ul>
                </li>
                <% end %>
              <!--<li> <%= button_to "Devenir bricoleur", inscriptions_path, class: "btn btn-danger navbar-btn" , :method => :get  %></li>-->
           </ul>
         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>

    <%= yield %>

    <%= render 'layouts/footer'%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

      <script>
      $('a[href^="#"]').click(function(){
      	var the_id = $(this).attr("href");
      	$('html, body').animate({
      		scrollTop:$(the_id).offset().top
      	}, 'slow');
      	return false;});
      </script>
  </body>
</html>
